# SVM SVR Admission Prediction

In [1]:
# https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv

In [53]:
import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv")

In [54]:
data.head(2)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76

In [55]:
# data.rename(columns={'Chance of Admit':'AdmissionChance'},inplace = True)

In [58]:
data.rename(columns={ data.columns[0]: "SerialNo",data.columns[1]: "GREScore",data.columns[2]: "TOEFLScore",data.columns[3]: "UniversityRating",data.columns[8]: "AdmissionChance" },inplace=True)

In [59]:
data.head(1)

,SerialNo,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,AdmissionChance
0,1,337,118,4,4.5,4.5,9.65,1,0.92

In [60]:
data["AdmissionChance"]

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
495    0.87
496    0.96
497    0.93
498    0.73
499    0.84
Name: AdmissionChance, Length: 500, dtype: float64

In [61]:
data['AdmissionChance'].value_counts()

0.71    23
0.64    19
0.73    18
0.72    16
0.79    16
        ..
0.38     2
0.36     2
0.43     1
0.39     1
0.37     1
Name: AdmissionChance, Length: 61, dtype: int64

In [62]:
data.columns

Index(['SerialNo', 'GREScore', 'TOEFLScore', 'UniversityRating', 'SOP', 'LOR ',
       'CGPA', 'Research', 'AdmissionChance'],
      dtype='object')

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SerialNo          500 non-null    int64
 1   GREScore          500 non-null    int64
 2   TOEFLScore        500 non-null    int64
 3   UniversityRating  500 non-null    int64
 4   SOP               500 non-null    float64
 5   LOR               500 non-null    float64
 6   CGPA              500 non-null    float64
 7   Research          500 non-null    int64
 8   AdmissionChance   500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [64]:
data.shape

(500, 9)

In [65]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
SerialNo,500.0,250.50000,144.481833,1.00,125.7500,250.50,375.25,500.00
GREScore,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFLScore,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
UniversityRating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
AdmissionChance,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

In [66]:
X=data.drop("AdmissionChance",axis=1)

In [67]:
X.head()

   SerialNo  GREScore  TOEFLScore  UniversityRating  SOP  LOR   CGPA  Research
0         1       337         118                 4  4.5   4.5  9.65         1
1         2       324         107                 4  4.0   4.5  8.87         1
2         3       316         104                 3  3.0   3.5  8.00         1
3         4       322         110                 3  3.5   2.5  8.67         1
4         5       314         103                 2  2.0   3.0  8.21         0

In [68]:
Y=data["AdmissionChance"]

In [69]:
Y.head()

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: AdmissionChance, dtype: float64

In [70]:
from sklearn.model_selection import train_test_split

In [71]:
x_train,x_test,y_train, y_test = train_test_split(X,Y,test_size=0.33, random_state=42)

In [72]:
from sklearn.preprocessing import StandardScaler

In [73]:
scaler = StandardScaler()

In [74]:
scaler.fit(x_train)

StandardScaler()

In [75]:
print(scaler.mean_)

[255.35820896 316.7641791  107.31343284   3.09552239   3.38059701
   3.50149254   8.58498507   0.56716418]

In [76]:
x_train_tf = scaler.transform(x_train)

In [77]:
x_train_tf

array([[ 1.55816388e+00, -5.25174731e-01, -7.06985745e-01, ...,
         5.38819022e-01, -8.35765678e-01, -1.14470294e+00],
       [-1.64243247e+00,  4.77035981e-01,  2.76433873e-01, ...,
        -1.61323061e-03,  3.63045482e-01, -1.14470294e+00],
       [-1.77908715e+00, -7.98504925e-01, -1.03479228e+00, ...,
         5.38819022e-01, -1.15657430e+00, -1.14470294e+00],
       ...,
       [ 6.73504661e-01, -1.34516531e+00, -1.36259882e+00, ...,
        -1.62290999e+00, -2.25407747e+00, -1.14470294e+00],
       [ 1.29923923e+00, -7.07394861e-01, -3.79179206e-01, ...,
         5.38819022e-01, -1.52803691e+00, -1.14470294e+00],
       [-1.09581377e+00, -2.51844537e-01, -2.15275936e-01, ...,
        -1.61323061e-03, -5.65611050e-01, -1.14470294e+00]])

In [78]:
from sklearn.svm import SVR

In [79]:
model = SVR()

In [80]:
model.fit(x_train_tf, y_train)

SVR()

In [81]:
model.score(x_train_tf, y_train)

0.8002696421631225

In [82]:
x_test_tf = scaler.transform(x_test)

In [83]:
x_test_tf

array([[ 7.67005229e-01,  1.57035676e+00,  1.42375676e+00, ...,
        -1.61323061e-03,  1.61251063e+00,  8.73589088e-01],
       [-1.30439196e+00, -2.51844537e-01,  1.12530603e-01, ...,
         5.38819022e-01,  7.68277423e-01,  8.73589088e-01],
       [ 8.60505796e-01, -1.60734472e-01, -3.79179206e-01, ...,
        -1.08247774e+00, -1.57869090e+00, -1.14470294e+00],
       ...,
       [ 1.24889277e+00, -6.96244077e-02, -7.06985745e-01, ...,
         1.07925128e+00,  2.61737496e-01, -1.14470294e+00],
       [-1.62085542e+00, -6.16284796e-01, -1.36259882e+00, ...,
        -1.62290999e+00, -2.16965415e+00, -1.14470294e+00],
       [ 1.31362393e+00,  2.14856571e-02, -2.15275936e-01, ...,
        -1.61323061e-03, -1.57869090e+00,  8.73589088e-01]])

In [84]:
y_predict = model.predict(x_test_tf)

In [97]:
from sklearn.metrics import r2_score  # R squared score

In [98]:
score = r2_score(y_test,y_predict)

In [99]:
score

0.7632199437959383